/*  ----- HEADER CSS ------ */

header {
    display: flex; 
    vertical-align: top;   
    text-align: left; 
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 5px;
    background-color: #FFF;
}

.logo-img {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    object-fit: cover;
  }

.logo-img:hover {
    transform: scale(1.02);
    transition: all 0.2s; 
}


/*  ----- NAV CSS ------ */

.nav-button {     
    display: inline-block;
    min-width: 40px;
    box-shadow: none;
    cursor: pointer;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.02857em;
    text-align: center;
    min-width: 64px;
    margin: 6px 16px;
    color: var(--fucsia);       
}

.nav-button:hover {    
    transform: scale(1.1);
    transition: all 0.2s; 
   
}

/* .nav-button-dot {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--fucsia);     
} */