header {
    display: flex; 
    vertical-align: top;   
    text-align: left; 
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 5px;
    background-color: #FFF;
}

.logo-img {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    object-fit: cover;
  }

.logo-img:hover {
    transform: scale(1.02);
    transition: all 0.2s; 
}

.nav-button {     
    display: inline-block;
    min-width: 40px;
    box-shadow: none;
    cursor: pointer;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.02857em;
    text-align: center;
    min-width: 64px;
    padding: 6px 16px;
    color: var(--fucsia);    
    /* background-color: #d2197f; */
}

.nav-button:hover {
    /* border: 1px dashed var(--fucsia);
    border-radius: 5px; */
    transform: scale(1.1);
    transition: all 0.2s; 
}