#root {
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
    padding: 1.2rem;
    --fucsia: #BC0056;
}

.home_bio {
    background-color: rgba(188, 0, 86, .1);
    margin-top: 40px;
    margin-bottom: 50px;
    height: 402px;
    border-radius: 20px;
}

.home_container {
    width: 90%;    
}

.home_photo_container {
    display: inline-block;
    width: 35%;
}

.home_photo {
    border-radius: 50%;
    height: 400px;
}

.home_info {

}

