/* ===============================
   |       GABRIELA WAISMAN      |
   =============================== 
   |            ABOUT            |
   |           CSS FILE          |
   =============================== */ 
   
/* ----------------------------
            About me
   ---------------------------- */

.about_container {
    width: 100%;
    margin: 0;
}

.about_info_div {
    display: inline-block;    
    width: 35%;       
    text-align: left;
    min-width: 380px;
    vertical-align: top;    
    padding: 45px 0 30px 100px;
    padding-right: 52px;
    color: #FFF;
    
}

.about_info_div h1{
    margin: 10px 0;
}

.about_resume_div {
    display: inline-block;    
    width: 28%;       
    text-align: center;
    min-width: 370px;
    vertical-align: top;    
    /* padding: 45px 0 20px 20px;
    padding-right: 20px; */
    padding: 0;
    margin: 45px 30px 45px 20px;
    color: #FFF;
}

.about_bio_div {
    display: inline-block;
    width: 630px;
    padding: 20px;
    max-width: 800px;
    margin: 0;    
    text-align: left;  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 90px 40px 140px;
}

.about_photo {
    display: block;
    border-radius: 50%;
    height: 130px;
    object-fit: cover;    
    /* margin-top: 25px; */
    margin-bottom: 40px;
    margin: auto;
    border: #fce9f1 solid 2px;
}

.about_container h3 {    
    font-family: Raleway, Arial, Helvetica, sans-serif;    
    font-size: 24px;
    font-weight: 600;    
}

/* ============================
          RESPONSIVENESS       
    ==========================  */
  
        
/* ----------------------------
             1318
   ---------------------------- */

   @media screen and (max-width: 1318px) {

    .about_bio_div {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0px;
    }
    
}


/* ----------------------------
             1230
   ---------------------------- */

   @media screen and (max-width: 1230px) {
    
}

/* ----------------------------
          900
---------------------------- */

@media screen and (max-width: 900px) {

    .recuadro_nomargin {
        width: 100%;
        max-width: auto;
        box-sizing: border-box;             
        margin-bottom: 40px;   
    }

    .about_container {
    }

    .about_bio_div {
        width: 100%;
        max-width: auto;
        box-sizing: border-box;
        padding-left: 90px;
        padding-right: 90px;
        text-align: center;
    }

    .about_resume_div {
        min-width: auto;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .about_resume_div h1 {
        font-size: 30px;
    }
    
}
 
/* ----------------------------
          815
---------------------------- */

@media screen and (max-width: 850px) {

    .about_bio_div {
        border-radius: 0;
    }

}
  
/* ----------------------------
             550
---------------------------- */  

@media screen and (max-width: 550px) {
    .about_bio_div {
        padding-left: 15%;
        padding-right: 15%;
    }
 
}

