/* ===============================
   |       GABRIELA WAISMAN      |
   =============================== 
   |            ABOUT            |
   |           CSS FILE          |
   =============================== */ 
   
/* ----------------------------
            About me
   ---------------------------- */


.recuadro_nomargin {
    background-color: var(--fucsia);
    margin-top: 30px;
    margin-bottom: 50px;    
    border-radius: 20px;    
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0;
}


.about_container {
    width: 100%;
    margin: 0;
    display: flex;
}

.about_info_div {
    display: inline-block;    
    width: 35%;       
    text-align: left;
    min-width: 380px;
    vertical-align: top;    
    padding: 45px 0 30px 100px;
    padding-right: 52px;
    color: #FFF;    
}

.about_info_div h1{
    margin: 10px 0;
}

.about_resume_div {
    display: inline-block;    
    width: 28%;       
    text-align: center;
    min-width: 370px;
    vertical-align: top;    
    /* padding: 45px 0 20px 20px;
    padding-right: 20px; */
    padding: 0;
    margin: 45px 2% 45px 2%;
    color: #FFF;
}

.about_bio_div {
    display: inline-block;
    width: 630px;
    padding: 20px;
    margin: 0;    
    text-align: left;  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 7% 40px 10%;
}

.about_photo {
    display: block;
    border-radius: 50%;
    height: 130px;
    object-fit: cover;    
    /* margin-top: 25px; */
    margin-bottom: 40px;
    margin: auto;
    border: #fce9f1 solid 2px;
}

.about_container h3 {    
    font-family: Raleway, Arial, Helvetica, sans-serif;    
    font-size: 1.5em;
    font-weight: 600;    
}

/* ============================
          RESPONSIVENESS       
    ==========================  */
  
        
/* ----------------------------
             1318
   ---------------------------- */

   @media screen and (max-width: 1318px) {

    .about_bio_div {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0px;
    }
    
}


/* ----------------------------
             1230
   ---------------------------- */

   @media screen and (max-width: 1230px) {
    
}

/* ----------------------------
          880
---------------------------- */

@media screen and (max-width: 880px) {

    .recuadro_nomargin {
        width: 100%;
        max-width: auto;
        box-sizing: border-box;             
        margin-bottom: 40px;   
    }

    .about_container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: auto;
    }

    .about_bio_div {
        width: 100%;
        max-width: auto;
        box-sizing: border-box;
        padding-left: 90px;
        padding-right: 90px;
        text-align: center;
        border-radius: 0;
    }

    .about_resume_div {
        min-width: auto;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .about_resume_div h1 {
        font-size: 1.875em;
    }
    
}
 
/* ----------------------------
             550
---------------------------- */  

@media screen and (max-width: 550px) {
    .about_bio_div {
        padding-left: 15%;
        padding-right: 15%;
    }
 
}

