
.highlight_small {
    display: inline-block;
    margin: 3px;
    /* background-color: #d0cbcd;  // gris   */
    /* background-color: var(--fucsia); // fucsia orig*/
    /* background-color: #c91c53; // fucsia lindo*/
    /* background-color: #750035; // fucsia oscuro*/
    background-color: #ffffff;     
    color: #000000;
    border-radius: 9px;
    border: 1px solid transparent;
    padding: 0.2em 1.3em;
    font-size: .7em;
    font-weight: 600;
    font-family: inherit;
    transition: border-color 0.25s;
    letter-spacing: 0.1em;
    color: var(--text-primary);
    background-color: var(--highlight-small-bg);     
}