/* ----------------------------------------- */
/* ---------- LOADING ANIMATED GIF --------- */
/* ----------------------------------------- */

.loader_fullscreen {	
	position: fixed;
	top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	/* background-color: rgba(229,229,229,0.55);	 */
  background: rgba(0, 0, 0, 0.5);
	z-index: 10;	
	
}

.loader_container {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;	
	transform: translate(-50%, -50%);
	width: 250px;	
	background-color: #FFF;
	border-radius: 20px;
	margin: 0;
	text-align: center;
	padding: 10px;
}

.loader_img {
	width: 200px;	
	margin-right: auto;
	margin-left: auto;
}

.loader_texto {
	font-weight: bold;
	color: #000;
}

.hide {
    display: none;
}