/* ===============================
   |       GABRIELA WAISMAN      |
   =============================== 
   |        NETWORK ICONS        |
   |           CSS FILE          |
   =============================== */ 
     
   
.net_icon {
    height: 30px;    
    margin-inline: 5px;
    margin-top: 10px;
    color: #FFFFFF;
}

.net_icon:hover {
    color: var(--amarillo-light);
}


