/* ===============================
   |       GABRIELA WAISMAN      |
   =============================== 
   |        NETWORK ICONS        |
   |           CSS FILE          |
   =============================== */ 
     
   
.net_icon {
    height: 30px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 10px;
}


